<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registerandmaps"
        tools:targetApi="31">
        <activity
            android:name=".LeaderBoard"
            android:exported="false" />
        <activity
            android:name=".CarTaxiScreen"
            android:exported="false" />
        <activity
            android:name=".TaxiActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".CarHitchikerScreen"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.Registerandmaps" />
        <activity
            android:name=".RingActivity"
            android:exported="false" />
        <activity
            android:name=".HitchikerActivity"
            android:exported="false" />
        <!--
             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCALQJmozt2mTk5LbKU0ude2fZ_hKmf998" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" /> <!-- Register Activity -->
        <activity
            android:name=".Register"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Registerandmaps" /> <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>